.App {
  text-align: center;
}

.btn{
  all: unset;
  background-color: #185adb;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.25s ease;
  color: white;
  margin: 20px;
}

.btn:hover {
  transform:translateY(-5px) ;
  box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}

